  .fullFooter {
    background-color: #121E2C;
    width: 100vw;
    height: 9vw;
  }

  .developer {
    padding-top: 1vw;
  }

  .developerName {
    white-space: nowrap;
    font-family: 'Fresca', sans-serif;
    font-size: .8vw;
    color: #gray;
    margin-left: 88vw;
  }

  .developerCompany {
    margin-top: -.7vw;
    white-space: nowrap;
    font-family: 'Fresca', sans-serif;
    font-size: .8vw;
    color: #gray;
    margin-left: 88vw;
  }

  .developerPhone {
    margin-top: -.7vw;
    white-space: nowrap;
    font-family: 'Fresca', sans-serif;
    font-size: .8vw;
    color: #gray;
    margin-left: 88vw;
  }

a {
  text-decoration: none;
}
