
  .fullHeader {
    background-image: url('../backgrounds/vintage-concrete.png');
    width: 100vw;
    height: 7.5vw;
    display: flex;
    flex-direction: row;
  }

  .headerTitle {
    white-space: nowrap;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3vw;
    color: #C81010;
    margin-top: 1.5vw;
    margin-left: 1vw;
  }

  a:hover {
    text-decoration: none;
    color: #C81010;
  }

  .headerSubtitle {
    font-family: 'Fredericka the Great', cursive;
    font-size: 1.6vw;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    margin-left: 2vw;
  }

  .headerSubtitle:hover {
    color: black;
  }

  .headerInfo {
    display: flex;
    flex-direction: row;
    margin-left: 20vw;
    margin-top: 1vw;
  }
