
  body {
    background-color: gray;
  }

  a:hover {
    text-decoration: none;
  }

  .fullHeader {
    background-color: #121E2C;
    width: 100vw;
    height: 6vw;
    display: flex;
    flex-direction: row;
  }

  .headerTitle {
    white-space: nowrap;
    font-family: 'Fresca', sans-serif;
    font-size: 3vw;
    color: gray;
    margin-top: 1vw;
    margin-left: 1vw;
    text-decoration: none;
  }

  .headerSubtitle {
    font-family: 'Fresca', sans-serif;
    font-size: 1.6vw;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
    margin-left: 3vw;
    text-decoration: none;
  }

  .headerSubtitle:hover {
    color: gray;
  }

  .headerInfo {
    display: flex;
    flex-direction: row;
    margin-left: 20vw;
    margin-top: 1vw;
  }
